/* ! prevNextBtn */

.prevNextBtn {
  text-align: center;
  margin-top: 105px;
  font-family: "Balsamiq Sans", cursive;
}

#btnPrev,
#btnNext {
  background-color: white;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 5px;
  font-family: "Amatic SC", cursive;
}

/* ! prevNextBtn END */

/* ! ========== Filter Start ======== */

form {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  font-family: "Balsamiq Sans", cursive;
}

form input {
  margin-left: 40px;
  margin-right: 10px;
  cursor: pointer;
}

form label {
  font-size: 18px;
}

/* ? ========== Filter End ======== */

section {
  width: 100vw;
  height: auto;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-family: "Balsamiq Sans", cursive;
}

.section__box_product {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* ! section END */

@media all and (max-width: 1000px) {
  .inpFormFilter {
    margin-left: 20px;
  }
}

@media all and (max-width: 530px) {
  #formInpBox label {
    font-size: 10px;
  }
}
