#inpSearch {
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Amatic SC", cursive;
}

#inpSearch:active {
  position: relative;
  top: 1px;
}
