.section__box_card_g {
  height: 420px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 30px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  text-align: center;
  gap: 10px;
  border: 0;
}

.section__box_card:hover {
  background-color: rgb(251, 252, 188);
  transition: 1s;
}

.card_image {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.section__box_card h2 {
  font-size: 18px;
  margin-top: 20px;
}

.card_description {
  width: 80%;
  font-size: 14px;
}

#btnProduct {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  width: 30%;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

#btnProduct:active {
  position: relative;
  top: 1px;
}

#linkBtnProduct {
  text-decoration: none;
  color: black;
}

.btnCardBox {
  display: flex;
}

@media all and (max-width: 800px) {
  .section__box_card_g {
    width: 250px;
  }
  .section__box_card_g img {
    width: 20vw;
    height: auto;
  }
}

@media all and (max-width: 700px) {
  .section__box_card_g h2 {
    font-size: 20px;
  }
}
