.pageNotfoundIMG {
  width: 100%;
  height: 100vh;
}

.imgNotfoud {
  height: 100vh;
}

.textNbutton {
  position: absolute;
  top: 25%;
  left: 15%;
}

.text {
  font-size: 90px;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(255, 255, 255);
}
