.add {
  display: flex;
  flex-direction: column;
  margin: 100px auto 50px;
  width: 30%;
}

.inpAddandChange {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

.BtnAddandChange {
  width: 40%;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

button:hover {
  background-color: orange;
  transition: 1s;
}
