.add {
  display: flex;
  flex-direction: column;
  margin: 100px auto 50px;
  width: 30%;
}

button,
input[type="text"],
input[type="number"],
input[type="url"] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

button {
  width: 40%;
  margin: 10px auto;
}

button:hover {
  background-color: orange;
}
