.basket__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  width: 70%;
  font-family: "Amatic SC", cursive;
}

.basket__title {
  font-size: 35px;
  font-weight: 900;
}

.basket__product_title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid orange;
}

.product__title_right {
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.basket__product_card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product__card_left {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.product_img {
  width: 100px;
  height: 80px;
  border: 1px solid orange;
}

#product_img {
  width: 100px;
  height: 80px;
}
.product_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__card_right {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__card_right img {
  height: 30px;
  width: 30px;
}

#inpProdCard {
  width: 50px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

.card_right_icon {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.btnTotalPrise {
  display: flex;
  justify-content: center;
  width: 100%;
}

#btnTotalPrise {
  text-align: center;
  width: 20%;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

.header_basket_box {
  position: relative;
}

.header_basket_box span {
  position: relative;
  bottom: 35px;
  left: 35px;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#btnLogOut {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}
