.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 70px;
  display: flex;
  justify-content: end;
  transform: translateX(+120%);
  transition: all 0.3s;
}

.menu.activ {
  transform: translateX(0);
}

.blur {
  width: 100vw;
  height: 100vh;
  right: 20%;
  position: absolute;
  backdrop-filter: blur(2px);
}

.menu_content img {
  margin-top: 20px;
  width: 30%;
}

.menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
  width: 20%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.menu_content a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 2vw;
  font-weight: bold;
}
