/* ! section__one start */

.section__one {
  margin-top: 70px;
  height: 510px;
  width: 100%;
  background-color: #f3ece3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Balsamiq Sans", cursive;
  font-size: 28px;
  display: flex;
}

.section__one_text_kolosok {
  display: flex;
  gap: 30px;
}

#kolosok {
  height: 200px;
}

.section__one_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.section__one_text h1 {
  color: orange;
}

#section_link {
  text-decoration: none;
  color: black;
}

#section_link:hover {
  color: orange;
}

.section__one_female {
  display: flex;
  align-items: flex-end;
  height: 510px;
}
#female {
  height: 460px;
}

/* ! section__one END */

/* ! section__two start */

.section__two {
  font-family: "Balsamiq Sans", cursive;
}

.section__two_box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Balsamiq Sans", cursive;
  gap: 15px;
  height: 250px;
}

.section__two_box1 img {
  height: 100px;
}

.section__two_box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.section__two_box2_title {
  display: flex;
  flex-direction: column;
  width: 500px;
  line-height: 25px;
}

.section__two_box2_title h2 {
  color: orange;
  margin-bottom: 20px;
}

.section__two_box3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section__two_box3_title {
  width: 500px;
  line-height: 25px;
}

.section__two_box3_title h2 {
  color: orange;
  margin-bottom: 20px;
}

.section__two_box4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section__two_box4_title {
  width: 500px;
  line-height: 25px;
}

.section__two_box4_title h2 {
  color: orange;
  margin-bottom: 20px;
}

/* ! section__two END */

/* ! section__three start*/

.section__three {
  height: 700px;
  width: 100%;
}

.section__three_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 700px;
  background-color: #f3ece3;
  font-family: "Balsamiq Sans", cursive;
}

.section__three_text {
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 550px;
  margin-top: 70px;
  margin-left: 80px;
  line-height: 25px;
}

.section__three_text h2 {
  margin-bottom: 20px;
  color: orange;
}

.section__three_text a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

.section__three_img img {
  height: 680px;
}

#link3:hover {
  color: orange;
}

.section__three_img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section__three_link {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 250px;
  margin: 0 auto;
  width: 1000px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
}

.item_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  height: 100%;
  font-family: "Balsamiq Sans", cursive;
  gap: 20px;
}

.item_box_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px;
}

.item_box_text a {
  text-decoration: none;
  color: black;
}

.item_box_text a:hover {
  color: orange;
}

.item_box:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

/* ! section__three END*/
