/*! section control box */

.section__control_box {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  font-family: "Balsamiq Sans", cursive;
}

.section__control_box_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.box_item_text {
  display: flex;
  flex-direction: column;
  width: 500px;
  line-height: 25px;
}

.box_item_img_h2 h2 {
  color: orange;
}

.kolosok_control {
  height: 50px;
}

.box_item_img_h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.section__control_box_item_last {
  margin: 50px auto 50px;
  width: 85%;
  height: 300px;
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box_item_img_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.box_item_img_title h2 {
  font-size: 30px;
}

.box_item_btn_text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 30px;
}

.box_item_btn_text button {
  width: 300px;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: orange;
}

.box_item_btn_text button a {
  text-decoration: none;
  color: white;
  font-family: "Balsamiq Sans", cursive;
}

/*! section control box END*/
