/* ! maps */

.maps__box {
  display: flex;
  justify-content: center;
}

#maps {
  margin-top: 110px;
  margin-bottom: 20px;
  width: 800px;
  height: 350px;
  border: 2px solid orange;
}

/* ! maps END*/
